@page
@model VralumGlassWeb.Pages.CertificateModel
@{
    ViewData["Title"] = "Certificate";
}

<h1>Certificate</h1>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12" style="padding-top:10px;">
            <button class="btn btn-primary btn-lg" asp-page-handler="Export">Download</button>
        </div>
    </div>
</form>
