@page
@model VralumGlassWeb.Pages.CertificateModel
@{
    ViewData["Title"] = "Certificate";
}

<h1>Certificate</h1>

<form method="post" enctype="multipart/form-data">
    <div class="row">

        <div class="col-md-9">
            <div class="" style="padding: 20px 10px;">
                <img src="/images/certificate2.png" alt="" style="width: 100%">
            </div>
        </div>
        <div class="col-md-3" style="padding:10px; text-align: right;">
            <button class="btn btn-outline-success btn-lg" asp-page-handler="Export">Download PDF</button>
        </div>
    </div>
</form>

<div class="row">
    
</div>

