@page
@model VralumGlassWeb.Pages.CertificateModel
@{
    ViewData["Title"] = "Certificate";
}

<h1>Certificate</h1>


    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6" style="padding: 10px; text-align: right;">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Customer.CustomerId" />
                <button class="btn btn-outline-success btn-lg" asp-page-handler="Export">Download Certificate PDF</button>
            </form>
        </div>
        <div class="col-md-6" style="padding: 10px; text-align: left;">
            <form method="POST">
                <input type="hidden" asp-for="Customer.CustomerId" />
                <button class="btn btn-outline-danger btn-lg" asp-page-handler="Request">Defect Form</button>
            </form>
        </div>
    </div>


<div class="row">
    
</div>

