@page
@model VralumGlassWeb.Pages.CustomerModel
@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <input type="file" id="fUpload" name="files" class="form-control" />
        </div>
        <div class="col-md-8">
            <input type="button" id="btnUpload" value="Upload" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" style="padding-top:10px;">
            <button asp-page-handler="Export">Export</button>
        </div>
    </div>
    <br />
    <div id="dvData"></div>
</form>

<form method="post">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var contact in Model.Customers)
        {
            <tr>
                <td>@contact.Id</td>
                <td>@contact.Name</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@contact.Id">edit</a>
                    <button type="submit" asp-page-handler="delete" 
                            asp-route-id="@contact.Id">delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <a asp-page="./Create">Create</a>
</form>

