@page
@model VralumGlassWeb.Pages.SupportModel
@{
    ViewData["Title"] = "Customer";
}

<h1>Customer</h1>
<p>
    Enter your name.
</p>
<div asp-validation-summary="All"></div>
<form method="POST">
    <div>ID: <input asp-for="Customer.CustomerId"/></div>
    <div>Name: <input asp-for="Customer.Name"/></div>
    <input type="submit"/>
</form>

